# API Server URL (Google Apps Script Executable URL)
VITE_API_URL=https://script.google.com/macros/s/AKfycbxGlZptjqPy9uMBMsi9aRoFk5RustjurNoYqxqOnHPyJ2RngO9GQnsIWcTZTsOP0dfU/exec

# Secret Key សម្រាប់ផ្ទៀងផ្ទាត់សិទ្ធិ (Authorization)
VITE_API_SECRET_KEY=your_secret_key_here
