# API Server URL (Google Apps Script Executable URL)
VITE_API_URL=https://script.google.com/macros/s/AKfycbxGlZptjqPy9uMBMsi9aRoFk5RustjurNoYqxqOnHPyJ2RngO9GQnsIWcTZTsOP0dfU/exec

# Secret Key សម្រាប់ផ្ទៀងផ្ទាត់សិទ្ធិ (Authorization)
VITE_API_SECRET_KEY=b5965cf3577c46a57e8edc126f104183935cf17b105ddc3927f958ff5d0b5b83

# CAPTCHA Site Key សម្រាប់សុវត្ថិភាពទំព័រ Login (Google reCAPTCHA v2)
# បើមិនដាក់ទេ ប្រព័ន្ធនឹងប្រើប្រាស់ Test Key របស់ Google សម្រាប់ធ្វើតេស្ត។ 
VITE_RECAPTCHA_SITE_KEY=6Ld5H8QsAAAAAMcFG_eaWqv18Rs0r4fxvzGK7pNM
